<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Анализа на текст</title>
  </head>
  <body>
    <h2 style="color: salmon;">Резултати од анализата:</h2>
    <p>Вкупен број на карактери: <%= vkupnoKarakteri %></p>
    <p>Вкупен број на зборови помали од 5 карактери: <%= zboroviPod5Karakteri %></p>
    <p>Вкупен број на зборови поголеми од 5 карактери: <%= zboroviNad5Karakteri %></p>
    <p>Вкупен број на зборови со 5 карактери: <%= zboroviSo5Karakteri %></p>
    <p>Број на реченици: <%= recenici %></p>
    <p>Број на зборови: <%= zborovi %></p>
    <p>
      Број на зборови кои почнуваат на една од следните букви: а, о, у, и, е: <%= zboroviSoPocetnaBukva %>
    </p>
  </body>
</html>
